@font-face {
    font-family: Airstrike;
    src: url(fonts/airstrike.ttf);
}



#logo {
    width: 100px;
    height: 100px;
}

#first_container {
    height: 100vh;
}

body {
    background-color: #171a2b;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#links_container {
    display: flex;
    align-items: center;
    margin-right: 3em;
    margin-top: 2em;
}

#links_container a {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main_title * {
    color: white;
    font-family: Airstrike;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

center {
    height: 80vh;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 8em;
    font-weight: 100;
    margin: 0;
    color: #222;
    cursor: context-menu;
    text-transform: uppercase;
    transition: 0.5s;
}

h1:hover {
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

#about {
    border: 1px solid white;
    padding: 1em;
    border-radius: 5px;
    color: white;
    transition: ease-in 0.3s;
}

#about:hover {
    border: 1px solid #5ff3f8;
    background-color: #5ff3f823;
    color: white;
    transition: ease-in 0.3s;

}

center p {
    font-size: 1.7em;
}

center p::after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background: white;
    transition: 0.5s;
}

center p:hover::after {
    width: 100%;
}